@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
:root {
  --blue: #9cdcfe;
  --pink: #c586c0;
  --yellow:#dcdcaa;
  --green: #4ec9b0;
  --orange: #ce9178;
  --hover-black: rgb(40, 40, 40);
  --white: #fff;
  --gray: rgb(80, 80, 80);
  --light-gray: rgb(150, 150, 150);
}

*::-webkit-scrollbar {
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}

.icon {
  width: 24px;
  height: 24px;
}