@import "../../config/config.css";
@media(max-width: 769px) {
    .import.import-responsive {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .import strong.responsive {
        font-size: 12px;
    }
    span.tooltip.responsive:hover::before {
        width: 80%;
        margin:0;
    }
    span.tooltip:hover::after {
        content: ' ';
        transform: translate(-368px, 70%);
        position: absolute;
        display: inline-block;
        z-index: 1;
        margin: -20px 0 0 0;
        border-width: 8px;
        border-style: solid;
        border-color: var(--hover-black) transparent transparent transparent;
    }
}